* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #333333;
}

li {
    list-style-type: none;
}

.header {
    background: url(../img/main/bg.jpg) top no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 0px 0px 160px 0px;
    margin: 0px 0px 50px 0px;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.header-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}
.header__logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
}
.header__menu {}
.menu__icon {}
.menu__span {}
.menu__body {}
.menu__list {
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.menu__link {}
.header__phone a {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    text-decoration: underline;
}

.main {}
.main__title {
    line-height: 1;
    margin: 40px 0px 0px 0px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 70px;
}
.main__title span {
    display: block;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main__desc {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 44px;
}
.main__button {
    margin: 0px 0px 60px 0px;
}
.button__wrap {
    position: relative;
    width: 304px;
    height: 54px;
}
.button {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    background: #FF352B;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    color: #F2F2F2;
    z-index: 2;
    cursor: pointer;
}
.button:hover {
    background: #f03329;
}
.button-decor {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    border: 2px solid #F2F2F2;
    z-index: 1;
}
.main__advantage-wrap {
    display: flex;
    justify-content: space-between;
}
.main__advantage {
    display: flex;
    width: 650px;
    justify-content: space-between;
}
.main__advantage-block {}
.advantage-block {
    width: 200px;
}
.advantage-block__img {
    vertical-align: middle;
}
.advantage-block__desc {
    display: inline-block;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    width: 140px;
    vertical-align: middle;
}
.main__button-phone {
    position: relative;
    width: 100px;
    height: 100px;
}
.main__button-phone a {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: url(../img/main/icons/phone.svg) center no-repeat rgba(61, 155, 233, 0.8);
    z-index: 2;
}
.main__button-phone i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background: rgba(61, 155, 233, 0.3);
    z-index: 1;
}

.main__button-phone:hover i {
    animation: phone 2s infinite;
}


@keyframes phone {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.process {}
.process__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    margin: 0px 0px 70px 0px;
}
.process__blocks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.process__block {
    width: 520px;
    margin: 0px 0px 60px 0px;
}
.block-process__wrap {
    display: inline-block;
    width: 400px;
    margin: 0px 0px 0px 35px;
}
.block-process {}
.block-process__img {
    object-fit: none;
    object-position: left top;
    width: 65px;
    vertical-align: top;
    margin: 5px 0px 0px 0px;
}
.block-process__title {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}
.block-process__desc {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
}

.prices {
    text-align: center;
    margin: 0px 0px 50px 0px;
}
.prices__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 0px 0px 15px 0px;
}
.prices__subtitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px;
}
.prices__blocks {
    display: flex;
    justify-content: space-between;
}
.prices__block {
    width: 390px;
    border: 1px solid #EBEBEB
}
.prices__block:hover {
    border: 1px solid #FED100
}
.block-prices {}
.block-prices__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 84px 0px 60px 0px
}
.block-prices__desc {
    line-height: 2;
}
.block-prices__price {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    margin: 55px 0px 55px 0px
}
.block-prices__btn {
    margin: 0px 0px 80px 0px
}
.btn {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    width: 250px;
    height: 50px;
    border: none;
    cursor: pointer;
    background: #FED100;
}
.btn:hover {
    background: #f1c501;
}

.cars {
    position: relative;
    height: 100vh;
}
.cars__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 60px 0px;
    text-align: center;
}
.cars__tabs {
    display: flex;
    justify-content: center;
}
.cars__tab {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    margin: 0px 10px;
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 2.2;
    border: 1px solid #EBEBEB;
    cursor: pointer;
}
.cars__tab.active {
    border: 1px solid #FED100
}
.cars__blocks {}
.cars__block {}
.block-cars {
    position: absolute;
    top: 150px;
    left: 50%;
    width: 1000px;
    transform: translateX(-50%);
}
.block-cars__wrap {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 100px 0px 0px;
}
.block-cars__title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    margin: 0px 0px 25px 0px;
}
.block-cars__desc li {
    line-height: 2;
}
.block-cars__desc li::before {
    content: '✔';
    width: 14px;
    height: 14px;
    margin: 0px 15px 0px 0px;
}
.block-cars__btn {
    margin: 30px 0px 0px 0px;
}
.blok-cars__img {
    vertical-align: middle;
}